@page
@model IndexModel
@section Scripts {
    <script src="~/js/dragAndDrop.js" asp-append-version="true"></script>
}

@{
    var tableHeader = new List<string>{
        "Formato", 
        "Tem legendas externas?", 
        "Taxa de vídeo", 
        "Duração", 
        "Altura", 
        "É 3D?", 
        "É BluRay?", 
        "É DVD?", 
        "É HDR?", 
        "Tamanho", 
        "Subtítulos", 
        "Tags", 
        "Resolução" 
    };
}

<style>
    #drop-area {
        background-color: #FFF;
        width: 60%;
        max-width: 37.5em;
        padding: 3.12em 1.87em;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 30%;
        box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
        border: 2px dashed #ccc;
        border-radius: 0.5em;
    }

    #form-title {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 25%;
        font-weight: 600;
        font-size: 1.3em;

    }

    #drop-area.highlight {
        border-color: #025bee;
    }

    p {
        margin-top: 0;
    }

    .my-form {
        margin-bottom: 10px;
    }

    .my-form div {
        text-align: center;
    }

    #gallery {
        margin-top: 10px;
        text-align: center;
    }

    .button {
        cursor: pointer;
        font-size: 1.37em;
    }

    #fileElem {
        display: none;
    }

    #send-button {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 50%;
    }

    #error {
        color: red;
    }
</style>


<div id="control-hidden-forms">
    <p id="form-title">Quer saber as características do seu vídeo?</p>
    <form class="my-form" method="post" enctype="multipart/form-data">
        <div id="drop-area">
            <div>
                <input type="file" id="fileElem" accept="video/*" onchange="handleFiles(this.files)" name="Video">
                <label class="button" for="fileElem">
                    <i class="fa-solid fa-upload"></i>&nbsp;
                    Clique ou arraste seu vídeo.
                </label>
            </div>
            @if(Model.VideoResult?.Success == false)
            {
                <p id="error" class="text-center">@Model.VideoResult?.ErrorMessage</p>
            }
            <div id="gallery"></div>
        </div>
        
        <button type="submit" class="btn btn-primary" id="send-button">Enviar</button>
    </form>
    
</div>

@if(Model.VideoResult?.Success == true) {
<table class="table table-bordered table-inverse ">
    <tr>
        <th scope="col">Formato</th>
        <td>@Model.VideoResult.Data?.Format</td>
    </tr>
    <tr>
        <th scope="col">Tem legendas externas?</th>
        <td>@Model.VideoResult.Data?.HasExternalSubtitles</td>
    </tr>
    <tr>
        <th scope="col">Taxa de vídeo</th>
        <td>@Model.VideoResult.Data?.VideoRate</td>
    </tr>
    <tr>
        <th scope="col">Duração</th>
        <td>@Model.VideoResult.Data?.Duration</td>
    </tr>
    <tr>
        <th scope="col">Altura</th>
        <td>@Model.VideoResult.Data?.Height</td>
    </tr>
    <tr>
        <th scope="col">É 3D?</th>
        <td>@Model.VideoResult.Data?.Is3D</td>
    </tr>
    <tr>
        <th scope="col">É BluRay?</th>
        <td>@Model.VideoResult.Data?.IsBluRay</td>
    </tr>
    <tr>
        <th scope="col">É DVD?</th>
        <td>@Model.VideoResult.Data?.IsDvd</td>
    </tr>
    <tr>
        <th scope="col">É HDR?</th>
        <td>@Model.VideoResult.Data?.IsHdr</td>
    </tr>
    <tr>
        <th scope="col">Tamanho</th>
        <td>@Model.VideoResult.Data?.Size</td>
    </tr>
    <tr>
        <th scope="col">Subtítulos</th>
        <td>@Model.VideoResult.Data?.Subtitles</td>
    </tr>
    <tr>
        <th scope="col">Resolução</th>
        <td>@Model.VideoResult.Data?.VideoResolution</td>

    </tr>
</table>
}

@if(Model.VideoResult?.Success == true) {
    <script>
        console.log("entrou no script")
        document.getElementById("control-hidden-forms").style.display = "none";
    </script>
}


